version: "3.7"
networks:
 {{ nginx_network_name }}:
    driver: overlay
    external: true
{% if create_stack_network is defined and create_stack_network|bool==true %}      
 {{ stack_network_name }}:
    driver: overlay
    external: true
{% endif %}    

services:
  {{ deploy_name }}:
    image: {{ image_node_ssh }}
    cap_add:
    - SYS_PTRACE     
    volumes:
      - nodemodules:/usr/src/service/node_modules
      - {{ user_path }}/{{ deploy_name }}/src/:/usr/src/service
      - "~/.ssh:/root/.ssh"
      - /etc/localtime:/etc/localtime:ro
    environment:
      - NODE_ENV=development
    working_dir: /usr/src/service
#   tty: true
    command:
      bash -c "service ssh start && yarn && yarn serve --host 0.0.0.0 --port 80"
    ports:
      - "80"
      - "{{ host_ssh_port }}:22" # Attention: port {{ host_ssh_port }} is opened on host and bypasses UFW!!! This is ok here, cause you need a valid sshkey but this behavior may be not suspected from docker ;)
    networks:
      - {{ nginx_network_name }}
    deploy:
      restart_policy:
        condition: on-failure
    healthcheck: { test: ["CMD", "node", "./healthcheck.js"], timeout: 3s, interval: 60s, retries: 20 }

volumes:
  nodemodules:
